/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* my css */

@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");

:root {
  --yellow: #ffb200;
}

body {
  background-image: linear-gradient(#005c97, #363795);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Cabin", sans-serif;

  cursor: default;
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  height: 100%;
}

#top-section,
#mid-section,
#bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#city {
  font-size: 2rem;
  font-weight: bold;
}
#search-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
#searchBtn {
  background-color: transparent;
  box-shadow: 0;
  border: 0;
  cursor: pointer;
}

#input,
#aqi {
  background-color: var(--yellow);
  box-shadow: 0;
  border: 0;
  border-radius: 25px;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  color: white;
}

#currentTemp {
  font-size: 10rem;
}

#currentTemp sup {
  font-size: 3rem;
  position: relative;
  top: -0.5em;
}

#currentCondition-wrapper {
  display: flex;
  gap: 1rem;
}

#aqi {
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
}

#currentDesc {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}
#next-days {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.preview {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}
myIcon {
  height: 2rem;
}

#next-hours p {
  text-transform: capitalize;
}
.thunderstorm {
  content: url(./img/thunderstorm);
}
.clear {
  content: url(./img/clear.svg);
}

.clouds {
  content: url(./img/clouds.svg);
}
.rain {
  content: url(./img/rain.svg);
}

.snow {
  content: url(./img/snow.svg);
}

.search {
  content: url(./img/search.svg);
}

.loading {
  position: fixed;

  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loading-text {
  position: absolute;
  font-size: 2rem;
}

.hidden {
  display: none;
}
